@{
    ViewBag.Title = "Home Page";
}

<div>
    <select id="method">
        <option value="get">GET</option>
        <option value="post">POST</option>
    </select>
    <input type="button" value="Try it" onclick="sendRequest()" />
    <span id='value1'>(Result)</span>
</div>
<script>
    var serviceUrl = 'http://localhost:16128/api/Test';

    function sendRequest() {
        var method = $('#method').val();
        $.ajax({
            url: serviceUrl,
            type: method,
            success: function (data) {
                $('#value1').text(data);
            },
            failure: function (errMsg) {
                $('#value1').text(errMsg);
            }
        });
    }
</script>